*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background-color: #222;
  width: 100vw;
}
.container
{
  margin: 10px auto 0;
  max-width: 330px;
  background-color: #00feba;
  padding: 30px 10px;
  border-color: #00feba;
  max-width: 470px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
}
.search
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.search input
{
  outline: 0;
  border: 0;
  border-radius: 30px;
  color: #555;
  width: 70%;
  height: 60px;
  margin-right: 16px;
  text-align: center;
  font-size: 18px;
}
.search button{
  outline: 0;
  border: 0;
  border-radius: 50%;
  width: 20%;
  height: 60px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}
.weather-img
{
margin-top: 30px;
width: 170px;
}
h1
{
  font-size: 80px;
  font-weight:500px;
}
h3
{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.info
{
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: space-between;
  margin-top: 50px;
}
.details
{
  display: flex;
  align-items: center;
  text-align: left;

}
.details img
{
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind
{
  font-size: 28px;
  margin-top: -6px;
}
